<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="File" xsi:type="File" filename="${basedir}/logs/${shortdate}.log"
                  layout="${longdate} ${uppercase:${level}} ${message}" ></target>
	</targets>

	<rules>
		<logger name="EtraLogger" minlevel="Warn" writeTo="File"/>
	</rules>


</nlog>
